@mixin mobile {
    @media (max-width: #{768px}) {
        @content;
    }
}



.home {
    min-height: 100dvh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
        @include mobile {
            flex-direction: column;
            align-items: center;
            .right {
                order: 0;
            }
            .left {
                order: 1;
            }
        }

        .left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1.4rem;

            img {
                display: none;
                border-radius: 50%;
            }

            h1 {
                margin: 1.5rem;
                font-size: 2.5rem;
                font-weight: bold;
                color: #a07e28;
                text-align: center;
                @include mobile {
                    margin: 1rem;
                    font-size: 2.2rem;
                    text-align: center;
                    order: 0;
                }
            }

            @include mobile {
                width: 80%;
                img {
                    display: flex;
                    width: 40vw;
                }
            }
        }

        .home-info {
            margin: 1.5rem;
            text-align: center;
            p {
                color: white;
            }
            @include mobile {
                font-size: 1rem;
            }
        }

        .link {
            background-color: #3ca028;
            opacity: 1;
            width: 30vw;
            height: 10vh;
            border: 1px solid white !important;
            border-radius: 25px;
            margin: 1rem 1rem;
            transition: all 0.5s ease;
            cursor: pointer;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: white !important;
            font-size: 1.4rem;
            &:hover {
                background-color: #2a8f2a;
                opacity: 1;
            }

            @include mobile {
                width: 70% !important;
                height: 4rem !important;
            }
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            img {
                width: 30vw;
                border-radius: 50%;
            }

            @include mobile {
                width: 100%;
                order: 1;
                flex-direction: column;
                img {
                    display: none;
                    width: 50vw;
                }
            }
        }
}
