@import "../../../global.scss";

* {
    background-color: #d1a0ff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    background-color: #d1a0ff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: none !important;

    label.radio {
        background-color: #d7c8ff !important;
        border-radius: 8px;
        display: block;
        text-align: left;
        padding: 15px;
        margin-bottom: 5px;
        font-size: 18px;
        &:hover {
            background-color: #c8b5fa !important;
        }
    }

    label.radio+.radio {
        margin-left: 0;
    }

    label.radio input {
        margin-right: 10px;
    }

    .card-content {
        background-color: #d1a0ff;
    }

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;

        .title {
            color: $mainColor;
            height: 3rem;
            @include mobile {
                height: auto;
            }
        }

        .link{
            background-color: $mainColor;
            opacity: 0.6;
            width: 20%;
            height: 60px;
            border: 1px solid white;
            border-radius: 25px;
            margin: 1rem 1rem;
            transition: all 0.5s ease;
            cursor: pointer;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: white;
            font-size: 1.4rem;
            &:hover{
                color: white;
                opacity: 1;
            }

            @include mobile {
                width: 70%;
                height: 5rem;
            }
            &:hover{
                background-color: $mainColor;
                color: white;
            }
        }
    }

}